@import "tailwindcss";
@import "./navbar.css";
@font-face {
  font-family: "Galano";
  src: url("./assets/fonts/GalanoGrotesqueLight.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Galano";
  src: url("./assets/fonts/GalanoGrotesqueRegular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Galano";
  src: url("./assets/fonts/GalanoGrotesqueMedium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Galano";
  src: url("./assets/fonts/GalanoGrotesqueSemiBold.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Galano";
  src: url("./assets/fonts/GalanoGrotesqueBold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}


:root {
  font-family: "Galano", system-ui, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 